0x01-python-if_else_loops_functions/__pycache__/7-islower.cpython-38.pyc
0x01-python-if_else_loops_functions/7-main.py
0x01-python-if_else_loops_functions/8-main.py
0x01-python-if_else_loops_functions/__pycache__/8-uppercase.cpython-38.pyc
0x01-python-if_else_loops_functions/9-main.py
0x01-python-if_else_loops_functions/__pycache__/9-print_last_digit.cpython-38.pyc
0x01-python-if_else_loops_functions/10-main.py
0x01-python-if_else_loops_functions/__pycache__/10-add.cpython-38.pyc
0x01-python-if_else_loops_functions/__pycache__/11-pow.cpython-38.pyc
0x01-python-if_else_loops_functions/11-main.py
0x01-python-if_else_loops_functions/__pycache__/12-fizzbuzz.cpython-38.pyc
0x01-python-if_else_loops_functions/12-main.py
0x01-python-if_else_loops_functions/__pycache__/101-remove_char_at.cpython-38.pyc
0x01-python-if_else_loops_functions/101-main.py
0x02-python-import_modules/0-import_add.py
.gitignore
0x02-python-import_modules/__pycache__/0-add.cpython-38.pyc
0x02-python-import_modules/__pycache__/add_0.cpython-38.pyc-
0x02-python-import_modules/add_0.py
0x02-python-import_modules/__pycache__/calculator_1.cpython-38.pyc
0x02-python-import_modules/calculator_1.py
0x02-python-import_modules/variable_load_5.py
0x02-python-import_modules/__pycache__/variable_load_5.cpython-38.pyc
0x02-python-import_modules/__pycache__/e_print.cpython-38.pyc
prueba.py
0x00-python-hello_world/cycle
0x03-python-data_structures/__pycache__/0-print_list_integer.cpython-38.pyc
0x03-python-data_structures/__pycache__/1-element_at.cpython-38.pyc
0x03-python-data_structures/1-main.py
0x03-python-data_structures/__pycache__/2-replace_in_list.cpython-38.pyc
0x03-python-data_structures/__pycache__/3-print_reversed_list_integer.cpython-38.pyc
0x03-python-data_structures/3-main.py
0x03-python-data_structures/__pycache__/4-new_in_list.cpython-38.pyc
0x03-python-data_structures/4-main.py
0x03-python-data_structures/5-main.py
0x03-python-data_structures/__pycache__/5-no_c.cpython-38.pyc
