0x01-python-if_else_loops_functions/__pycache__/7-islower.cpython-38.pyc
0x01-python-if_else_loops_functions/7-main.py
0x01-python-if_else_loops_functions/8-main.py
0x01-python-if_else_loops_functions/__pycache__/8-uppercase.cpython-38.pyc
